@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(180deg, #001a22 25%, #005069 70%, #00fefb 100%);
  font-family: "Montserrat", sans-serif;
}

.font-days-one {
  font-family: "Days One", sans-serif;
}

.perspective {
  perspective: 1200px;
}
.backface-hidden {
  backface-visibility: hidden;
}
